<div class="row footer">
  <div class="col-6 col-md-3 left-side-menu order-md-1">
    <ul>
      <li><%= link_to "Sobre", sobre_path %></li>
      <li><%= link_to "Contato", new_contact_path %></li>
      <li><%= link_to "Workshops", workshop_path %></li>
    </ul>
  </div>
  <div class="col-6 col-md-3 right-side-menu order-md-3">
    <ul>
      <li><%= link_to "FAQ", faq_path %></li>
      <li><%= link_to "Entregas", entregas_path %></li>
      <li><%= link_to "Pagamento", pagamento_path %></li>
    </ul>
  </div>

  <div class="col-12 col-md-6 order-md-2 subscribe" >
    <h2>Receba novidades</h2>
    <% @contact = Contact.new %>
    <%= simple_form_for @contact do |f| %>
      <%= f.input :name, placeholder: "Adicione seu nome", label: false %>
      <%= f.input :email, placeholder: "Adicione seu e-mail", label: false, id: "input-contact" %>
      <%= f.submit "Inscreva-se para receber novidades" %>
    <% end %>


    <ul class="pl-0">
      <a href="https://www.facebook.com/NuFiu"><i class="fab fa-facebook-f mr-3"></i>  </a>
      <a href="https://www.instagram.com/nufiu_jardinagem/"><i class="fab fa-instagram"></i></a>
    </ul>
  </div>
  <div class="col-12 copyright order-md-4">
    <p>Copyright 2021 Nufiu</p>
  </div>
  <div class="col-12 terms order-md-5">
    <%= link_to "Termos de Uso", privacidade_path, class: "mr-3" %>
    <%= link_to "Políticas de Privacidade", privacidade_path %>
  </div>
</div>
