<div class="form-container">
  <div class="new-plant-form">
    <%= simple_form_for @plant do |f| %>
      <%= f.input :name, label: "Nome da planta" %>
      <%= f.input :scientific_name, label: "Nome científico" %>
      <%= f.input :description, label: "Descrição", :input_html => {:rows => 10} %>
      <%= f.association :category, label: "Categoria" %>
      <%= f.input :price, label: "Preço", as: :integer, hint: "Não adicionar centavos" %>
      <%= f.input :best_seller, label: "Best-seller", as: :boolean %>
      <%= f.input :pet_friendly, label: "Pet-friendly", as: :boolean %>
      <%= f.association :sun, label: "Luz", label_method: :amount %>
      <%= f.association :water_period, label: "Quantidade de Água", label_method: :amount %>
      <%= f.input :water_text, label: "Descrição da rega", hint: "Ex. Rega a cada 2-4 dias" %>
      <%= f.input :photo, label: "Foto", as: :file %>
      <%= f.button :submit, "Concluir", class: "green-button" %>
    <% end %>
  </div>
</div>
