<div class="form-container">
  <div class="new-plant-form">
    <%= simple_form_for @plant do |f| %>
      <%= f.input :name, label: "Nome da planta" %>
      <%= f.input :scientific_name, label: "Nome científico" %>
      <%= f.input :description, label: "Descrição" %>
      <%= f.input :category, label: "Categoria", as: :select, collection: ["Suculentas", "Cactos", "Pendentes e Trepadeiras", "Palmeiras", "Outras"] %>
      <%= f.input :price, label: "Preço" %>
      <%= f.input :best_seller, label: "Best-seller", as: :boolean %>
      <%= f.input :pet_friendly, label: "Pet-friendly", as: :boolean %>
      <%= f.input :for_beginners, label: "Para iniciantes (fácil de cuidar)", as: :boolean %>
      <%= f.input :low_light_tolerant, label: "Tolera pouca luz (para apartamento)", as: :boolean %>
      <%= f.input :water, label: "Precisa de muita água", as: :boolean %>
      <%= f.button :submit, "Adicionar kokedama", class: "orange-button" %>
    <% end %>
  </div>
</div>
