<div class="form-container">
  <div class="new-plant-form">
    <%= simple_form_for @plant do |f| %>
      <%= f.input :name, label: "Nome da planta" %>
      <%= f.input :scientific_name, label: "Nome científico" %>
      <%= f.input :description, label: "Descrição" %>
      <%= f.association :category, label: "Categoria" %>
      <%= f.association :colors, label: "Cor dos fios", as: :check_boxes %>
      <%= f.input :price, label: "Preço", as: :integer %>
      <%= f.input :best_seller, label: "Best-seller", as: :boolean %>
      <%= f.input :pet_friendly, label: "Pet-friendly", as: :boolean %>
      <%= f.input :water, label: "Precisa de muita água", as: :boolean %>
      <%= f.input :photo, label: "Foto", as: :file %>
      <%= f.button :submit, "Adicionar kokedama", class: "orange-button" %>
    <% end %>
  </div>
</div>
