<nav class="navbar-container"> 
  <%= link_to root_path, class: "logo" do %>
      <%= image_tag "logo.jpg", alt: "Nufiu Jardinagem"%>
  <% end %>

  <ul class="navlinks">
  
    <li>
      <%= link_to "Sobre", "#" %>
    </li>
    <li>
      <%= link_to "Workshops", "#" %>
    </li>
    <li>
      <%= link_to "Contato", "#" %>
    </li>
    <% if user_signed_in? %>
      <li>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "Login", new_user_session_path %>
      </li>  
    <% end %>
    <% if !current_user.carts.empty? %>
      <li class="navbar-cart">
        <%= link_to cart_path(current_user.carts.last) do %>
          <i class='fas fa-shopping-basket'></i>
        <% end %>
      </li>
    <% end %>
  </ul>
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>

<%= javascript_pack_tag 'navbar_slider' %>

