<div class="add-margins">
  <h1>Contato</h1>
  <p>Tem alguma dúvida, sugestão ou um pedido diferente? Fale com a gente!</p>
</div>

<div class="form-container">
  <div class="new-plant-form">
    <%= simple_form_for @contact do |f| %>
      <%= f.input :name, label: 'Nome', required: true %>
      <%= f.input :email, label: 'E-mail', required: true %>
      <%= f.input :phone, label: 'Telefone (opcional)' %>
      <%= f.input :subject, label: 'Assunto' %>
      <%= f.input :message, label: 'Mensagem', :input_html => {:rows => 10}  %>
      <%= f.submit 'Enviar', class: 'green-button' %>
    <% end %>
  </div>
</div>
