<div class="add-margins">
  <h1>Sua mensagem foi enviada</h1>
  <p>Retornaremos em breve</p>
</div>

<div class="static-page-body">
<p><strong>Sua mensagem foi enviada e deve ser respondida em breve.</strong></p>
<p>Nome: <%= @contact.name %></p>
<p>Email: <%= @contact.email %></p>
<p>Telefone: <%= @contact.phone %></p>
<p>Assunto: <%= @contact.subject %></p>

<p><strong>Mensagem:</strong></p>
<p><%= @contact.message %></p>
<br /><br />
<%= link_to "Voltar ao site", root_path, class: 'green-button' %>

</div>
