<div class="row filtrar">
    <div class="col-4 filter-title"><h6>Filtrar</h6></div>
    <div class="col-4 inline"><h6>Luz</h6><%= image_tag "icons/down-arrow.svg", alt: "Mostrar filtros", size: "15x15", class: "arrow" %></div>
    <div class="col-4 inline"><h6>Rega</h6><%= image_tag "icons/down-arrow.svg", alt: "Mostrar filtros", size: "15x15", class: "arrow" %></div>
</div>

<div class="facets-deck">
  <div class="row">
    <div class="col-4 facetlist">
      <div class="facet-aligned">
      <%= form_tag(root_path, method: :get, id: "filtros") do %>
        <div><%= check_box_tag(:filter_pet_friendly) %>
        <%= label_tag :filter_pet_friendly, 'Pet-friendly' %></div>
      </div>
    </div>
    <div class="col-4 facetlist">
      <div class="facet-aligned">
        <div><%= check_box_tag(:filter_by_sun, "Sol Direto") %>
          <%= label_tag(:filter_by_sun, "Sol Direto") %></div>
          <div><%= check_box_tag(:filter_by_sun, "Meia-sombra") %>
          <%= label_tag(:filter_by_sun, "Meia-sombra") %></div>
          <div><%= check_box_tag(:filter_by_sun, "Sombra") %>
          <%= label_tag(:filter_by_sun, "Sombra") %></div>
        </div>
    </div>
    <div class="col-4 facetlist">
      <div class="facet-aligned">
        <div><%= check_box_tag(:filter_by_water, "Todo dia") %>
        <%= label_tag(:filter_by_water, "Todo dia") %></div>
        <div><%= check_box_tag(:filter_by_water, "Frequência média") %>
        <%= label_tag(:filter_by_water, "Frequência média") %></div>
        <div><%= check_box_tag(:filter_by_water, "Raramente") %>
        <%= label_tag(:filter_by_water, "Raramente") %></div>
        <div><%= submit_tag "Filtrar", class: "green-button", name: nil %></div>
        </div>
    </div>
    <% end %>

    </div>
  </div>
</div>



<!-- <script type="text/javascript">

  var filter = document.querySelector('.filtrar');
  var facetsDeck = document.querySelector('.facets-deck');
    filter.addEventListener('click', (event) => {
    event.preventDefault();
    if (facetsDeck.style.display === "none") {
      facetsDeck.style.display = "block";
    } else {
      facetsDeck.style.display = "none";
    }
   });


</script> -->



