<div class="row filtrar">
    <div class="col-4 filter-title"><h6>Filtrar</h6></div>
    <div class="col-4 inline"><h6>Luz</h6><%= image_tag "icons/down-arrow.svg", alt: "Mostrar filtros", size: "15x15", class: "arrow" %></div>
    <div class="col-4 inline"><h6>Rega</h6><%= image_tag "icons/down-arrow.svg", alt: "Mostrar filtros", size: "15x15", class: "arrow" %></div>
</div>

<div class="facets-deck-hidden">
  <div class="row">
  <div class="col-4 facetlist">
    <ul>
      <% for row in @search.facet(:pet_friendly).rows %>
          <li>
          <% if params[:pet_friendly].blank? %>
              <%= link_to(row.value, params.merge(:pet_friendly => row.value).permit!) %> <small class="rowcount"><%= row.count %></small>
              <% else %>
              <strong><%= row.value %></strong> (<%= link_to "X", :pet_friendly => nil %>)
          <% end %>
          </li>
      <% end %>
    </ul>
  </div>
  <div class="col-4 facetlist">
     <ul>
        <% for row in @search.facet(:sun).rows %>
            <li>
            <% if params[:sun].blank? %>
                <%= link_to(row.value, params.merge(:sun => row.value).permit!) %> <small class="rowcount"><%= row.count %></small>
                <% else %>
                <strong><%= row.value %></strong> (<%= link_to "X", :sun => nil %>)
            <% end %>
            </li>
        <% end %>
    </ul>
  </div>

  <div class="col-4 facetlist">
    <ul>
      <% for row in @search.facet(:water_level).rows %>
          <li>
          <% if params[:water_level].blank? %>
            <%= link_to(row.value, params.merge(:water_level => row.value).permit!) %> <small class="rowcount"><%= row.count %></small>
          <% else %>
            <strong><%= row.value %></strong> (<%= link_to "X", :water_level => nil %>)
          <% end %>
          </li>
      <% end %>
    </ul>
  </div>
  </div>
</div>

<script type="text/javascript">
  const filter = document.querySelector('.filtrar');
  const facetLists = document.querySelector('.facets-deck-hidden');
    filter.addEventListener('click', (event) => {
    event.preventDefault();
    facetLists.classList.toggle("facets-deck-hidden");
    facetLists.classList.toggle("facets-deck-shown");
  });
</script>


