<div class="row filtrar">
    <div class="col-4 filter-title"><h6>Filtrar</h6></div>
    <div class="col-4 inline"><h6>Luz</h6><%= image_tag "icons/down-arrow.svg", alt: "Mostrar filtros", size: "15x15", class: "arrow" %></div>
    <div class="col-4 inline"><h6>Rega</h6><%= image_tag "icons/down-arrow.svg", alt: "Mostrar filtros", size: "15x15", class: "arrow" %></div>
</div>

<div class="facets-deck row">
    <div class="col-4 facetlist">
      <div class="facet-aligned">
      <%= form_tag(root_path, method: :get, id: "filtros", remote: true) do %>
        <%= check_box_tag(:pet_friendly) %>
        <%= label_tag :pet_friendly, 'Pet-friendly' %>
      </div>
    </div>
    <div class="col-4 facetlist">
      <div class="facet-aligned">
        <div><%= check_box_tag(:sun, 3) %>
          <%= label_tag(:sun, "Sol pleno") %></div>
          <div><%= check_box_tag(:sun, 2) %>
          <%= label_tag(:sun, "Claridade") %></div>
          <div><%= check_box_tag(:sun, 1) %>
          <%= label_tag(:sun, "Meia-sombra") %></div>
        </div>
    </div>
    <div class="col-4 facetlist">
      <div class="facet-aligned">
        <div><%= check_box_tag(:water, 3) %>
        <%= label_tag(:water, "Frequente") %></div>
        <div><%= check_box_tag(:water, 2) %>
        <%= label_tag(:water, "Regular") %></div>
        <div><%= check_box_tag(:water, 1) %>
        <%= label_tag(:water, "De vez em quando") %></div>
        <div><%= submit_tag "Filtrar", class: "green-button", name: nil %></div>
        </div>
    </div>
    <% end %>
</div>



