
<div class="facets">
  <div class="row filtrar">
      <div class="col-4 filter-title"><h6>Filtrar</h6></div>
      <div class="col-4 inline"><h6>Luz</h6><%= image_tag "icons/down-arrow.svg", alt: "Mostrar filtros", size: "15x15", class: "arrow" %></div>
      <div class="col-4 inline"><h6>Rega</h6><%= image_tag "icons/down-arrow.svg", alt: "Mostrar filtros", size: "15x15", class: "arrow" %></div>
  </div>

  <div class="facets-deck row">
    <div class="col-4 facetlist">
      <div class="facet-aligned">
        <% if params[:pet_friendly] %> 
          <div>
            <%= link_to raw("<i class='far fa-check-square pr-1'></i> Pet-friendly"), plants_path(pet_friendly: nil), class: 'filter', remote: true %>
          </div>          
        <% else %>
          <div>
            <%= link_to raw("<i class='far fa-square pr-1'></i> Pet-friendly"), plants_path(pet_friendly: true), class: 'filter', remote: true %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-4 facetlist">
      <div class="facet-aligned">
        <% if params[:sun] == 3.to_s %> 
          <div>
            <%= link_to raw("<i class='far fa-check-square pr-1'></i> Sol pleno"), plants_path(sun: nil), remote: true %>
          </div>
        <% else %>
          <div>
            <%= link_to raw("<i class='far fa-square pr-1'></i> Sol pleno"), plants_path(sun: 3), remote: true %>
            </div>
        <% end %>
        <% if params[:sun] == 2.to_s %> 
          <div>
            <%= link_to raw("<i class='far fa-check-square pr-1'></i> Claridade"), plants_path(sun: nil), remote: true %>
            </div>
        <% else %>
          <div>
            <%= link_to raw("<i class='far fa-square pr-1'></i> Claridade"), plants_path(sun: 2), remote: true %>
          </div>
        <% end %>
        <% if params[:sun] == 1.to_s %> 
          <div>
            <%= link_to raw("<i class='far fa-check-square pr-1'></i> Meia-sombra"), plants_path(sun: nil), remote: true %>
            </div>
        <% else %>
          <div>
            <%= link_to raw("<i class='far fa-square pr-1'></i> Meia-sombra"), plants_path(sun: 1), remote: true %>
            </div>
        <% end %>
      </div>
      </div>
    <div class="col-4 facetlist">
      <div class="facet-aligned">
        <% if params[:water] == 3.to_s %> 
          <div>
            <%= link_to raw("<i class='far fa-check-square pr-1'></i> Frequente"), plants_path(water: nil), remote: true %>
            </div>
        <% else %>
          <div>
            <%= link_to raw("<i class='far fa-square pr-1'></i> Frequente"), plants_path(water: 3), remote: true %>
            </div>
        <% end %>
        <% if params[:water] == 2.to_s %> 
          <div>
            <%= link_to raw("<i class='far fa-check-square pr-1'></i> Regular"), plants_path(water: nil), remote: true %>
            </div>
        <% else %>
          <div>
            <%= link_to raw("<i class='far fa-square pr-1'></i> Regular"), plants_path(water: 2), remote: true %>
            </div>
        <% end %>
        <% if params[:water] == 1.to_s %> 
          <div>
            <%= link_to raw("<i class='far fa-check-square pr-1'></i> De vez em quando"), plants_path(water: nil), remote: true %>
            </div>
        <% else %>
          <div>
            <%= link_to raw("<i class='far fa-square pr-1'></i> De vez em quando"), plants_path(water: 1), remote: true %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if !current_user.nil? && current_user.admin %>
  <div class="add-product row">
    <%= link_to "Adicionar itens" , new_plant_path, class: "green-button" %>    
  </div>
<% end %>


<%# <script type="text/javascript">

  var filter = document.querySelector('.filtrar');
  var facetsDeck = document.querySelector('.facets-deck');
    filter.addEventListener('click', (event) => {
    event.preventDefault();
    if (facetsDeck.style.display === "none") {
      facetsDeck.style.display = "flex";
    } else {
      facetsDeck.style.display = "none";
    }
   });


</script> %>



