<% @plants.each do |plant|%>
  <div class="col-6 col-md-4 col-lg-3" id="plants">
    <div class="plant-card m-0" id="plant">
      <%= link_to plant_path(plant) do %>
        <% if plant.photo.attached? %>
          <%= cl_image_tag plant.photo.key, class: "card-img", alt: "Kokedama de #{plant.name}", fetch_format: :auto,
            quality: 'auto' %>
          <% else %>
            alt: "#{plant.name}" %>
          <% end %>
        <div class="plant-card-text">
          <h5 class="card-title">
            <%= plant.name %>
          </h5>
          <h5 class="card-price">R$ <%= plant.price.ceil %>
          </h5>
          <% if !current_user.nil? && current_user.admin %>
            <%= link_to "<i class='fas fa-edit'></i>" .html_safe, edit_plant_path(plant) %>
            <% if plant.published %>
              <%= link_to "Publicado", edit_published_plant_path(plant), method: :patch %>
              <% else %>
                <%= link_to "Não publicado", edit_published_plant_path(plant), method: :patch %>
              <% end %>
          <% end %>
         
        </div>
        <% end %>
    </div>
  </div>
  <% end %>