<div class="row">
  <div class="col-12">
    <div class="main-banner">
      <h1>Kokedamas</h1>
      <p>As plantas ornamentais japonesas que vão transformar o seu ambiente.</p>
    </div>
  </div>
</div>

<div class="row justify-content-center add-margins-home">
  <% @plants.each do |plant|%>
    <div class="col-6 col-md-4 col-lg-3">
      <div class="plant-card m-0">
        <%= link_to plant_path(plant) do %>
          <% if plant.photo.attached? %>
            <%= cl_image_tag plant.photo.key, class: "card-img", alt: "#{plant.name}" %>
          <% else %>
            <%= image_tag "plants/2.png", class: "card-img", alt: "#{plant.name}" %>
          <% end %>
          <div class="plant-card-text">
            <h5 class="card-title"><%= plant.name %></h5>
            <h5 class="card-price">R$ <%= plant.price.ceil %></h5>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


