<div class="row">
  <div class="col-12">
    <div class="main-banner">
      <h1>Kokedamas</h1>
      <p>As plantas ornamentais japonesas que vão transformar o seu ambiente.</p>
      <a href="#plants" class="green-button">Encontre a sua</a>
    </div>
  </div>
</div>
<!-- <%# 
<div class="facets">
  <%= render partial: 'facet' %>
</div> 
%> -->

<% if !current_user.nil? && current_user.admin %>
  <div class="row justify-content-end mt-5 mr-5 mb-0">
    <%= link_to "Adicionar itens" , new_plant_path, class: "green-button" %>    
  </div>
<% end %>

<div class="index-plants row justify-content-center">
  <%= render partial: 'plant' %>
</div>

<%= javascript_pack_tag 'cloudinary' %>
<%= javascript_pack_tag 'smooth_scrolling' %>