<div class="row">
  <div class="col-12">
    <div class="main-banner">
      <h1>Kokedamas</h1>
      <p>As plantas ornamentais japonesas que vão transformar o seu ambiente.</p>
    </div>
  </div>
</div>

<div class="filters-form">
  <%= simple_form_for :search, url: root_path, method: "GET", remote: true do |f| %>
    <%= f.input :categories, label: "Categorias", collection: ["Kokedamas", "Terrários", "Potes"], as: :check_boxes %>
    <%= f.input :light, label: "Iluminação", collection: ["Sol direto", "Meia-sombra", "Sombra"], as: :check_boxes %>
    <%= f.input :water_level, label: "Rega", collection: ["Todo dia", "Frequência média", "Pouca água"], as: :check_boxes %>
    <%= f.input :name, label: "Lumina", collection: ["Lumina"], as: :check_boxes %>
  <% end %>
</div>

<div class="row justify-content-center add-margins-home">
  <%= render 'plant', plants: @plants %>
</div>

<script type="text/javascript">
  var checkBoxes = document.querySelectorAll(".form-check-input");
  var form = document.querySelector('form');

  for (const check of checkBoxes) {
  check.addEventListener( 'change', function() {
    form.submit();
    // Rails.fire(form, 'submit');
  });
  }
</script>
