<div class="row ml-0 mr-0">
  <div class="col-12 pl-0 pr-0">
    <div class="main-banner">
      <h1>Seu ambiente de cara nova</h1>
      <p>Nossas plantas ornamentais japonesas são fáceis de cuidar e perfeitas para transformar a sua casa ou presentear alguém que você ama.</p>
      <a href="#encontre-kokedamas" class="green-button">Encontre a sua Kokedama</a>
    </div>
  </div>
</div>
<div class="facets">
  <%= render "facet" %>
</div>
<% if !current_user.nil? && current_user.admin %>
  <div class="add-product row">
    <%= link_to "Adicionar itens" , new_plant_path, class: "green-button" %>    
  </div>
<% end %>

<div class="index-plants row">
  <%= render @plants %>
</div>

<%= javascript_pack_tag 'cloudinary' %>
<%= javascript_pack_tag 'smooth_scrolling' %>