<% content_for :meta_title, "Kokedama de #{@plant.name} em Nufiu" %>
<% content_for :meta_description, @plant.description %>
<% content_for :meta_image, cl_image_path(@plant.photo.key) %>

<div class="row">
  <div class="col-12 col-md-6 plant-photo">
    <% if @plant.photo.attached? %>
      <%= cl_image_tag @plant.photo.key, alt: "Kokedama de #{@plant.name}", fetch_format: :auto, quality: 70, width: :auto, crop: 'scale', responsive: true %>
    <% else %>
      <%= image_tag "plants/2.png", alt: "Kokedama de #{@plant.name}", fetch_format: :auto, quality: 'auto' %>
    <% end %>
  </div>
  <div class="col-12 col-md-6 plant-info">
    <div class="breadcrumb">
      <p><%= link_to "Home", root_path%></p>
      <span class="bread-separator">▸</span>
      <p><%= link_to @plant.name, plant_path(@plant) %></p>
    </div>
    <div class="plant-title">
      <h2><%= @plant.name %></h2>
        <% if !current_user.nil? && policy(@plant).destroy? %>
          <%= link_to "<i class='fas fa-trash-alt'></i>".html_safe, plant_path, method: :delete, data: { confirm: "Tem certeza que quer apagar?" } %>
          <%= link_to "<i class='fas fa-edit'></i>".html_safe, edit_plant_path %>
        <% end %>
    </div>
    <h3 class="plant-specific-name"><i><%= @plant.scientific_name %></i></h3>
    <h4>R$ <%= @plant.price.ceil %> </h4>
    <p class="plant-description"><%= @plant.description %></p>
    <div class="plant-profile">
      <% if @plant.sun != nil %>
        <p><%= image_tag "icons/sun.svg", alt: "Iluminação", width: 30, height: 30, style: 'margin-right: 10px', fetch_format: :auto, quality: 'auto' %><%= @plant.sun.amount %></p>
      <% end %>
      <p><%= image_tag "icons/two-drops.svg", alt: "Rega", size: '30x30', style: 'margin-right: 10px', fetch_format: :auto, quality: 'auto' %><%= @plant.water_text %></p>
      <% if @plant.pet_friendly? %>
        <p> <%= image_tag "icons/pet-friendly.svg", alt: "Pet-friendly", size: '30x30', style: 'margin-right: 10px' %>Pet-friendly </p>
      <% end %>
      <p> <%= image_tag "icons/ruler.png", alt: "Tamanho", size: '30x30', style: 'margin-right: 10px', fetch_format: :auto, quality: 'auto' %><%= @plant.size %> </p>
    </div>
    <div class="buy-button">
      <%= link_to "Quero comprar", plant_cart_plants_path(@plant.id), method: :post, class: "green-button" %>
    </div>
  </div>
</div>
