<div class="row">
  <div class="col-12 col-md-6 plant-photo">
    <% if @plant.photo.attached? %>
      <%= cl_image_tag @plant.photo.key, alt: "#{@plant.name}" %>
    <% else %>
      <%= image_tag "plants/2.png", alt: "#{@plant.name}" %>
    <% end %>
  </div>
  <div class="col-12 col-md-6 plant-info">
    <div class="plant-title">
      <h2><%= @plant.name %></h2>
        <% if !current_user.nil? && policy(@plant).destroy? %>
          <%= link_to "<i class='fas fa-trash-alt'></i>".html_safe, plant_path, method: :delete, data: { confirm: "Tem certeza que quer apagar?" } %>
          <%= link_to "<i class='fas fa-edit'></i>".html_safe, edit_plant_path %>
        <% end %>
    </div>
    <h3 class="plant-specific-name"><%= @plant.scientific_name %></h3>
    <h4>R$ <%= @plant.price.ceil %> </h4>
    <p class="plant-description"><%= @plant.description %></p>
    <div class="plant-profile">
      <% if @plant.light != nil %>
        <p><%= image_tag "icons/sun.svg", alt: "Iluminação", size: '30x30', style: 'margin-right: 10px' %><%= @plant.light.level %></p>
      <% end %>
      <p><%= image_tag "icons/two-drops.svg", alt: "Rega", size: '30x30', style: 'margin-right: 10px' %><%= @plant.water_text %></p>
      <% if @plant.pet_friendly? %>
        <p> <%= image_tag "icons/pet-friendly.svg", alt: "Pet-friendly", size: '30x30', style: 'margin-right: 10px' %>Pet-friendly </p>
      <% end %>
    </div>
    <div class="buy-button">
      <%= link_to "Quero comprar", plant_cart_plants_path(@plant), method: :post, class: "green-button" %>
    </div>
  </div>
</div>
