<div class="row">
  <div class="col-12 col-md-6 plant-photo">
    <% if @plant.photo.attached? %>
      <%= cl_image_tag @plant.photo.key, alt: "#{@plant.name}" %>
    <% else %>
      <%= image_tag "plants/2.png", alt: "#{@plant.name}" %>
    <% end %>
  </div>
  <div class="col-12 col-md-6 plant-info">
    <div class="plant-title">
      <h2><%= @plant.name %></h2>
        <% if !current_user.nil? && policy(@plant).destroy? %>
          <%= link_to "<i class='fas fa-trash-alt'></i>".html_safe, plant_path, method: :delete, data: { confirm: "Tem certeza que quer apagar?" } %>
          <%= link_to "<i class='fas fa-edit'></i>".html_safe, edit_plant_path %>
        <% end %>
    </div>
    <h3 class="plant-specific-name"><%= @plant.scientific_name %></h3>
    <h4><%= number_to_currency(@plant.price, unit: 'R$ ', separator: ',') %></h4>
    <p><%= @plant.description %></p>
    <div class="buy-button">
      <%= link_to "Quero comprar", plant_cart_plants_path(@plant), method: :post, class: "orange-button" %>
    </div>
  </div>
</div>
