<p>Malu, você recebeu uma nova mensagem enviada pelo site da Nufiu. </p>

<p>Nome: <%= @contact.name %></p>
<p>Email: <%= @contact.email %></p>
<p>Telefone: <%= @contact.phone %></p>
<p>Assunto: <%= @contact.subject %></p>

<p>Mensagem:</p>
<p><%= @contact.message %></p>

