<div class="add-margins">
  <h1>Log in</h1>
  <p>Digite seu login e senha para acessar funcionalidades de administrador da página.</p>
</div>

<div class="form-container">
  <div class="new-plant-form">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    label: "Senha",
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, label: "Lembre de mim", as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Acessar", class: "green-button" %>
      </div>
    <% end %>
    <div style="margin-top: 14px">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
