<p><strong>Olá, <%= @user.name ? @user.name.titlecase : @user.email.split('@').first.titlecase %></strong>! O seu pagamento no site da Nufiu foi confirmado.</p>

<p><strong>Produtos adquiridos:</strong></p>
<ul>
  <% @cart.cart_plants.each do | cart_plant| %>
        <li><%= cart_plant.amount %> x <%= cart_plant.plant.name %> = R$ <%= cart_plant.plant.price * cart_plant.amount %></li>
  <% end %>
    <% if @user.shipping.pick_up == false %>
      <li>Frete para <%= @user.shipping.suburb.name %> : R$ <%= @user.shipping.suburb.shipping_price %> </li>
      <li>Total: R$ <%= (@cart.amount / 100) + @user.shipping.suburb.shipping_price  %></li>
    <% else %>
      <li>Total: R$ <%= (@cart.amount / 100) %></li>
<% end %>
</ul>


<p><strong>Endereço de entrega:</strong></p>
<ul>
  <li>Endereço: <%= @user.shipping.address %></li>
  <li>Complemento: <%= @user.shipping.address_complement %></li>
  <li>Bairro: <%= @user.shipping.suburb.name %></li>
  <li>CEP: <%= @user.shipping.zip_code %></li>
  <li>Telefone: <%= @user.shipping.phone %></li>
  <% if @user.shipping.location_details %>
    <li>Detalhes adicionais: <%= @user.shipping.location_details %></li>
  <% end %>
</ul>
<p><strong>Kokedamas</strong></p>
<p><strong>Se você deseja adicionar algum detalhe</strong>, como escolher uma cor para os fios de sua kokedama, basta responder a esse e-mail com seus comentários.</p>
<p>Vamos selecionar suas plantinhas e preparar os arranjos com muito carinho. Você também deverá receber um contato nosso em breve para confirmarmos dados de entrega. </p>
<p>Aliás, o prazo de entrega pode variar um pouquinho de acordo com a disponibilidade das espécies de plantas que você selecionou, mas vamos fazer o máximo para que elas cheguem ao seu endereço em até 7 dias corridos. </p>

<p><strong>Workshop</strong></p>

<p>Fiquei muito feliz pelo seu interesse em criar suas próprias kokedamas e estarei disponível para ajudar você nessa jornada.</p>

<p>Tenho certeza que você também vai se fascinar com a técnica e poderá fazer as suas, presentear família e amigos com lindos arranjos e até produzí-las com fins profissionais e vendê-las. </p>

<p>Você pode começar agora mesmo entrando <a href="https://www.youtube.com/watch?v=qNwSsJtW93s">neste link para o tutorial em vídeo</a>. </p>

<p>Sugiro que você assista o vídeo todo e quando estiver preparada(o) com todo o material, repita a parte prática para fazermos juntos. Para esta prática utilizei uma muda de chameadora (uma palmeirinha, como popularmente é chamada). </p>

<p>Também faz parte do curso o suporte às dúvidas que você tiver e será feito por mim mesma. Por isso, você pode me ligar ou mandar mensagem/whatsapp para (21)993444535. Estarei sempre pronta a ajudar. </p>

<p>Por fim, até amanhã, enviaremos uma apostila para facilitar o acompanhamento do vídeo.</p>

<p>Agradeço muito seu feedback para que eu possa sempre melhorar em todos os aspectos.</p>

</p>Vamos lá? Divirta-se!!!! </p>

<p><strong>Malu Borges</strong></p>
<p>Nufiu Jardinagem</p>
<p><a href="www.nufiu.com.br">www.nufiu.com.br</a></p>
